*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
}

h4 {
    text-align: center;
}


.container {
    min-height: 45vh;
    display: grid;
    place-items: center;
    margin-top: 15%;
} 

.title {
    text-align: center;
    
    
}
.underline {
    height: 0.25rem;
    width: 7rem;
    background: rgb(0, 166, 255);
    margin-left: auto;
    margin-right: auto; 
}

.review {
    background-color: white;
    padding: 1.5rem 2rem;
    transition: all 0.3s linear;
    border-radius: .25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#person-img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

#author {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#job {
    text-align: center;
    font-weight: light;
    color: rgb(3, 121, 184);
}

#info {
    text-align: center;
    font-weight: lighter;
    width: 60%;
    margin: 0 auto;
}

.prev-btn,
.next-btn {
    
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background: transparent;
    border: none;
    color:rgb(0, 166, 255);
}

.random-btn {
    color: rgb(0, 166, 255);
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'poppins';
    padding: 0.25rem 0.5rem;
}