*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}



.container {
    min-height: 70vh;
    display: grid;
    place-items: center;
} 

.title {
    text-align: center;
    
}
.underline {
    height: 0.25rem;
    width: 7rem;
    background: rgb(0, 166, 255);
    margin-left: auto;
    margin-right: auto; 
}